body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(100, 85, 41);;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(228, 180, 119);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(221, 167, 96);
    color: white;

}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(146, 49, 4);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(214, 121, 78);
}
button:active{
    background-color: 
    rgb(233, 163, 130);
}
.operator-btn{
    background-color: rgb(255, 240, 34);
}
.operator-btn:hover{
    background-color: rgb(248, 240, 121);
}
.operator-btn:active{
    background-color:rgb(236, 231, 155) ;
}
#box{
    background-color: aquamarine;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 120px;

}
#head{
    position: relative;
    left: 50px;
    text-align: center;
    font-size: 35px;
}
